<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- google font-->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="../public/css/style.css" rel="stylesheet">
  <title>Hello, world!</title>
</head>

<body>
  <!-- Start Navbar  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <!-- Left Side: Brand -->
      <a class="navbar-brand" href="#">Navbar</a>

      <!-- Toggler Button for Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Right Side: Nav Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav op mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">ABOUT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              SERVICES
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Consultation</a></li>
              <li><a class="dropdown-item" href="#">Emergency</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">CONTACT</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- end Navbar  -->
  <!-- start Banner  -->
   <div id="banner">
  <div class="banner-bg">
    <h1>WELCOME TO DOCTOR CARE</h1>

  </div>
  <div class="why-us">
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-md-3">
          <div class="why-choose shadow-lg">
            <div class="bg-ligh p-4 ">

              <h2>Why Choose <br>Doctor Care ?</h2>
              <p class="pt-3">Lorem ipsum dolor sit amet, meaning 'Pain itself is love, pain is love,' is a commonly used placeholder in design and publishing. It speaks of enduring hardship for the sake of meaning.</p>
              <div class="text-center mt-4"><button class="btn btn-c px-4">Learn More ></button></div>
            </div>

          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8" style="margin-top:50px">
          <div class="row">
            <div class="col-md-4 px-4 py-5">
              <div class="care-tab p-5 m-4 shadow-lg">
                <h2>Corporis voluptates officia eiusmod</h2>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div>
            </div>
            <div class="col-md-4  px-4 py-5">
              <div class="care-tab p-5 m-4 shadow-lg ">
                <h2>Why Choose Doctor Care ?</h2>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
              </div>
            </div>
            <div class="col-md-4  px-4 py-5">
              <div class="care-tab p-5 m-4 shadow-lg ">
                <h2>Why Choose Doctor Care ?</h2>
                <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere

.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class=" need container-fluid mt-5 ">
    <h2 style="color: white;text-align: center; font-size: 45px;">In an emergency? Need help Now?</h2>
    <p>
    <pre>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quae veritatis autem error, consequuntur maiores,
     totam itaque iure quis quaerat, impedit dolorum reprehenderit facilis ad assumenda quisquam inventore unde dicta. 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora omnis totam dolore! A illo, maiores dolores autem
     ratione dolorem iusto adipisci pariatur rem ex quae veniam exercitationem eos placeat hic.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet facilis modi facere? Quos a vero porro dolores, obcaecati
      fuga quidem! Expedita voluptate laboriosam doloremque beatae a ad accusantium, recusandae facilis?</pre>
    </p>
    <button class="button">MAKE AN APPOINTMENT </button>


  </div>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-3">
        <img class="img-fluid" style="border-radius: 50px;" src="../public/images/doctor-nurses-special-equipment.jpg"
          alt="">
      </div>
      <div class="col-3">
        <h2 style="color:  #099292; margin-top: 50px; font-size:50px;"> <b>ABOUT US</b></h2>
        <p>
        <pre style="color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus unde et,
         sint odio cupiditate ullam consequuntur sunt est dignissimos esse consectetur 
         eligendi quia? Et tempore facilis fugit iste minus qui.</pre>
        </p>
      </div>
      <div class="col-3">

      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>